name: Despliegue Automático a Firebase Hosting

on:
  push:
    
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: Producción 
    
    steps:
      
      - name: Checkout del Código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          
      - name: Instalar Firebase Tools
        run: npm install -g firebase-tools
      
      - name: Desplegar a Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          
          firebaseServiceAccount: '${{ secrets.FIREBASE_TOKEN }}'
          projectId: dpl-test-a49ce
          channelId: live
